@model NutricionApp.Models.Usuario

<h2>Resultado de la Nutricion</h2>

<p>Peso: @Model.Peso kg</p>
<p>Altura: @Model.Altura cm</p>
<p>Edad: @Model.Edad años</p>
<p>Objetivo: @Model.Objetivo</p>
<p>Nivel de Actividad: @Model.NivelActividad</p>

<h3>Calorias recomendadas: @ViewBag.Calorias</h3>


